@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-player {
  height: 60vh !important;
  width: 100% !important;
}

.comment-section {
  height: 70vh !important;
  overflow-y: auto;
  width: 100% !important;
}

.loaderIcon {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}

.ant-select-selector {
  height: 50px !important;
  padding-top: 5px !important;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .react-player {
    height: 45vh !important;
  }
}
